[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "plugins/tmux-continuum"]
	path = plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
